# vi: ft=pamenv
DXVK_ENABLE_NVAPI=1
WINEFSYNC=1
__GL_THREADED_OPTIMIZATION=1
{{ if glob "/sys/module/nvidia" }}
GAMEMODERUNEXEC="env __NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia __VK_LAYER_NV_optimus=NVIDIA_only VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/nvidia_icd.json mangohud"
{{ end }}
