colors:
  body: none
  date: blue
  tags: purple
  title: green
default_hour: 9
default_minute: 0
editor: nvim
encrypt: false
highlight: true
indent_character: '|'
journals:
  default:
    encrypt: true
    journal: {{ .env.XDG_DATA_HOME }}/jrnl/journal.txt
linewrap: 79
tagsymbols: '@'
template: false
timeformat: '%m/%d/%Y %H:%M'
version: v3.3
