;	git config user.name <Your Name>
;	git config user.email <name@host.domain>
;   git config user.signingkey <path of ssh public key>

[core]
	pager = delta

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[pull]
	rebase = false

[merge]
	conflictstyle = diff3
	tool = vimdiff

[diff]
	colorMoved = default

[mergetool]
	prompt = false
	keepBackup = false

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	syntax-theme = onedark
	plus-style = syntax "#324a32"
	minus-style = syntax "#4a323a"
	line-numbers-minus-style = "#e06c75"
	line-numbers-plus-style = "#98c379"

[alias]
	graph = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

[color]
	ui = true
; vi: ft=gitconfig
